.git
.gitignore
.env
.env.example
.DS_Store
build/
node_modules/
*.log
.gradle/
.idea/
*.iml
pycache/
*.pyc
*.pyo
venv/
env/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
local.properties