services:
  backend:
    build: 
      context: .
      dockerfile: backend/Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    # networks:
    #   - app-network
    env_file:
      - ./backend/.env